{{> header}}

<h2>Hi {{firstName}},</h2>

<p>We're sorry to inform you that <strong>{{eventTitle}}</strong> scheduled for <strong>{{date}} {{time}}</strong> at <strong>{{location}}</strong> has been cancelled.</p>

<p>Please check the events schedule for other upcoming events.</p>

{{> footer}}
